name: Deploy MkDocs to GitHub Pages

on:
  push:
    branches: ["**"]

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install mkdocs
        run: pip install mkdocs

      - name: Build documentation
        run: mkdocs build --config-file ./docs/mkdocs.yml

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: site

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
